body {
    background-image: url("https://images.unsplash.com/photo-1534447677768-be436bb09401?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1194&q=80");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: gold;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: silver;
    font-family: 'Libre Baskerville', serif;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #1CD6CE;

}

#save-btn {
    background: #3FA796;
}
#save-el
{
  color: gold;
}
.container{
  background-color: #607EAA;
  max-width: 80%;
  margin: auto;
  border: 5px solid black;
  border-radius: 10px;
}
#increment-btn:hover , #save-btn:hover
{
  background-color: #748DA6;
}
